.THIS.container{
    /* width:60% !important; */
}
.THIS .header{
    padding:5px;
}
.THIS .headerLabel{
    font-size: 16px;
    text-align: center;
}
.THIS .formContainer{
    width: 100%;
    background-color: white;
    padding-left: 20px;
    padding-right: 7px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.THIS.opportunitySection{
    background-color: #f3f3f3;
    margin-top: 10px;
}
.THIS .opportunityFormSectionContainer{
    width: 44%;
    padding: 20px;
}
.THIS .opportunityRadioButton{
    margin-bottom: 10px;
}
.THIS .opportunityFormSection{
    display: inline-flex;
    width: 100%;
    padding-bottom: 2px;
    margin-top: 10px;
    justify-content: center;
}

/* @media (max-width: 480px) {
    .THIS.container {
        width:100% !important;
    }
  } */