.THIS .header{
    height: 2px;
    padding-bottom: 27px;
    margin-top: 13px;
    margin-bottom: 2px;
}
.THIS .headerLabel{
    font-size: 16px;
    text-align: center;
}
.THIS .childLeadList{
    max-height: 300px;
}