.THIS .header{
    height: 0.125rem;
    padding-bottom: 1.688rem;
    margin-top: 0.813rem;
    margin-bottom: 0.125rem;
}
.THIS .headerLabel{
    font-size: 1rem;
    text-align: center;
}
.THIS .childLeadList{
    max-height: 18.75rem;
}