.THIS.customRadioCls{
    display : inline-block !important;
}
/*.THIS .slds-form-element__control {
    padding-left:15px !important;
}
.THIS .slds-form-element__label{
    display : none !important;
}
.THIS .lableInput .slds-form-element__label{
    display : block !important;
}
.THIS .image {
    width: 2% !important;
    height: 2% !important;
}*/