.THIS .contactPill{
    width: 100%;
    background-color: #f3f3f3;
}
.THIS.contactSection{
    background-color: #f3f3f3;
    margin-top: 0.625rem;
}
.THIS .header{
    padding:0.313rem;
}
.THIS .headerLabel{
    font-size: 1rem;
    text-align: center;
}
.THIS .contactFormSection{
    display: inline-flex;
    width: 100%;
    padding-bottom: 0.125rem;
    margin-top: 0.625rem;
    justify-content: center;
}
.THIS .contactFormSectionContainer{
    width: 44%;
    padding: 1.25rem;
}
.THIS .contactRadioButton{
    margin-bottom: 0.625rem;
}
.THIS .formContainer{
    background-color: white;
    padding: 0.313rem;
    border-radius: 0.313rem;
}
.THIS .slds-pill a {
    padding-bottom: 0.313rem;
    padding-top: 0.313rem;
}
.THIS .slds-pill__icon_container{
    padding-left: 0.125rem;
}